.headlines{
	display: inline-block;
	width: 30%;
	/*border: 1px solid green;*/
	height: 400px;
	overflow-y: hidden;
	float: left;
	text-align: left;
	margin-left: 5px;
	text-align: center;
	vertical-align: middle;
	/*overflow-y: scroll;*/
}
.headlines:hover {
	/*overflow-y: scroll;*/
}
.details{
	display: inline-block;
	width: 60%;
	background-image: url('../../background.png');
	/*style="background-image: url('../background.png'); */
	color: white;
	overflow-y: hidden;
	height: 400px;
	text-align: left;
	/*background: orange;*/

}
.details *{
	margin-left: 30px;
	margin-right: 40px;
}

h1.headlines{
	margin-left: 5px;
}
.grid-container{
	text-align: center;
}
#aboutteam{
	text-align: center;
	margin-bottom: 40px;

}
.team{
	height: 100px;
	width: 15%;
	display: inline-block;
	border: 4px solid orange;
	margin: 20px;
}
.basedesign{
	/*height: 30px;*/
	background: orange;
}
