#stylelogin{
	/*background-image: url('../static/images/homepage_carousel_images_09.28.2021.png');*/
	background-image: url('../images/homepage_carousel.png');
	opacity: 0.5;
	/*background: orange;*/
}
.data{
	opacity: 1;
}
