<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>myEdumap</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link rel="icon" type="icon" href="../static/images/icon.png">
</head>
<body >
	<div class="header">
		<div class="space">
			<img src="../static/images/icon.png" width="70">
		</div>
		<div class="aside">
			<!-- <a id="link" href="">home </a> -->
			<span><a href="login.html">Login | </a><a href="createAccount.html"> Create Account</a></span>
			<div class="dropdown">
				<button>select educational level</button>
				<div class="dropdown-content">
					<a href="">Secondary School</a>
					<br>
					<a href="">Higher Institution</a>
				</div>
			</div>
		</div>
	</div>
<div >
	<div class="courseSelectDiv">
		<input type="search" name="courseSearch" id="courseSelect" placeholder="find a course"><button>search</button>
		<!-- <select id="courseSelect">
			<option>select a course</option>
			<option>introduction to flask</option>
			<option>c programming</option>
			<option>cyber security</option>
			<option>microSoft Excel</option>
		</select> -->
	</div>
	<div class="grid-container">
		<div class="headlines" style="background-image: url('../background.png');" >
			<h3><a href="">How myedumap works</a></h3>
			<h3><a href="">Effective study approaches</a></h3>
			<h3><a href="">setting a study room</a></h3>

		</div>
		<div class="details" style="background-image: url('../background.png'); color: white;" >
			<h1>once on myedmap</h1>
			<p>search to see that the course you want to take is available</p>
			<h2>signUp to have access to any course</h2>
			<p>once on the dash board, register for any course you want, a calender is automatically created for you. Be sure to stick to the calendar as failure to complete modules on time will get you withdrawn from the course</p>
			<h2>Access resources and peers for effective studies</h2>
			<p>To be most effective, carefully complete all course requirements, and contact peers in areas of less experty</p>			
		</div>
	</div>
</div>
<div id="aboutteam">
	<h1>Meet the Team</h1>
	<div class="team">
		<img src="../static/images/samuel.jpg" width="100%">
		<div class="basedesign">M Z Samuel<br><a href="#">github</a>&nbsp;|&nbsp;<a href="#">twitter</a></div>
	</div>
	<div class="team">
		<img src="../static/images/jacinta.jpg" width="100%">
		<div class="basedesign">A Jacinta<br><a href="#">github</a>&nbsp;|&nbsp;<a href="#">twitter</a></div>
	</div>
	<div class="team">
		<img src="../static/images/simeon.jpg" width="100%" height="">
		<div class="basedesign">T M Simeon<br><a href="#">github</a>&nbsp;|&nbsp;<a href="#">twitter</a></div>
	</div>
</div>
	<div class="footer">
		<div style="width: 45%; display: inline-block;">
			<h2>&copy myedmap 2022</h2>
		</div>
		<div style="width: 50%; display: inline-block;">
		<div class="footersection">
			<span>Social Media: &emsp;</span>
			<a href="">facebook</a>&emsp;
			<a href="">twitter</a>&emsp;
			<a href="">whatsApp</a>

		</div>
		<div class="footersection">
			<span>Contact Us: &emsp;</span>
			No 7 post office, futminna niger state. Nigeria
		</div>
		<div class="footersection">
			<span>Other Links: &emsp;</span>
			<a href="#">TMS edStore</a>
			<a href="#">campus connect</a>
			<a href="#">Programs| Events</a></h4>
		</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
